.newscontent-component {
  display: block;
  width: 100%;
  margin: 0 auto;
  max-width: 1320px;
  padding: 100px 0;
}
.newspage-title{
  text-align: center;
}
.newspage-row {
  width: 80%;
  height: 300px;
  margin: 0 auto;
}
.newspage-col {
  display: inline-block;
  float: left;
  width: 50%;
  height: 100%;
  padding: 0 10px;
}
.newspage-col li{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.newspage-col li a{
  font-family: "Noto Sans S Chinese";
  color: #000000;
}
.newspage-col li a:hover{
  color: #282661;
}
.newspage-col li:last-child a{
  color: #3A7BF7;
}
.news-img-wrapper {
  background: red;
  height: 100%;
  width: 100%;
  float: right;
}
